@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  background-color: #ccc;
  height: 100vh;
}
body .left-section {
  width: 250px;
  background-color: #fff;
}
body .left-section .site-name {
  display: block;
  text-decoration: none;
  color: #000;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  margin: 20px 0 15px;
}
body .left-section .links {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  gap: 5px;
}
body .left-section .links a {
  font-size: 17px;
  font-weight: 400;
  display: block;
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
}
body .left-section .links a i {
  font-size: 21px;
  min-width: 25px;
  min-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .right-section {
  width: calc(100% - 250px);
}
body .right-section .main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}
